{{ form_start(form) }}
    <fieldset class="mb-2">
        {{ form_row(form.firstname) }}
    </fieldset>
    <fieldset class="mb-2">
        {{ form_row(form.lastname) }}
    </fieldset>
    <fieldset class="mb-2">
        {{ form_row(form.email) }}
    </fieldset>
    <fieldset class="mb-2">
        {{ form_row(form.telNumber) }}
    </fieldset>
    <fieldset class="mb-2">
        {{ form_row(form.ville) }}
    </fieldset>
    <fieldset class="mb-2">
        {{ form_row(form.codePostal) }}
    </fieldset>
    <fieldset class="mb-2">
        {{ form_row(form.birthDate) }}
    </fieldset>
    <div>
        <input type="submit" class="btn btn-primary button" value="Enregistrer le client">
    </div>
{{ form_end(form) }}